/* class 태그는 . id 태그는 #으로 지정한다 */
/* 둘이 연계해서 스타일 시트 적용하고싶으면 #~~ .~~로 적용하면된다. */

#HeadLine{
color: red;
/* text-decoration: underline; */
}

.ptag{
color: violet;
}
#HeadLine .ptag{
    color: blue;
}