body {
    background-color: white;
}

#container {
    width: 1400px;
    height: 1850px;
    margin: 0px auto;
    /* background-color: rgba(50, 48, 52, 0.939); */
}

/* 헤더 시작 */

header {
    width: 100%;
    height: 100px;
    /* margin-top: 30px; */
    /* background-color: rgba(50, 48, 52, 0.939) */
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
}

header div {
    margin: 0px auto;

}

header div a {
    text-decoration: none;
    font-weight: bolder;
    padding: 15px;
    color: black
}

.headerimg {
    /* margin-top: 30px; */
    padding: 5px;
}

/* 헤더 끝 */
/* 배너 (article) */
article {
    width: 100%;
    height: 210px;
    /* border: 1px solid black; */
    /* background-color: rgba(50, 48, 52, 0.939); */
}

/* 배너 (article) 끝 */

section {
    width: 100%;
    height: 900px;
    /* border: 1px solid black; */
    /* background-color: rgba(50, 48, 52, 0.939); */

}

#customerissue h3:hover {
    font-weight: bolder;
}

section div {
    float: left;

}

#sectionimgs {
    margin-top: 30px;
    margin-left: 80px;
    /* border-bottom: 1px dotted black; */
}

.mainimg {
    width: 200px;
    height: 170px;
    margin-left: 110px;
    margin-top: 30px;
}

.mainimg:hover {
    border: 5px solid #351f66;
    border-radius: 20px;
}


.mainimg a {
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

#notice {
    clear: both;
    /* border: 1px solid none; */
    /* border-radius: 25px; */
    /* background-color: antiquewhite; */
    width: 1000px;
    height: 400px;
    /* margin-left: 30px; */
    margin-top: 20px;
    border-top: 1px dotted black;
}

#notice div {
    display: inline-block;
    margin-left: 150px;
    margin-top: 80px;
}

#notice div ul li {
    list-style: circle;
    width: 240px;

    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;

}

#notice div ul li a {
    text-decoration: none;
    color: black;

}

#notice div ul li a:hover {
    font-weight: bolder;
}

/* id = evnet속성 (이벤트 배너) */
#event {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}
#searchbutton:hover{
    background-color: black;
}
#searchinput:hover{
    border: 3px solid #0d6efd;
}

/* 푸터시작 */
footer {
    background-color: rgba(50, 48, 52, 0.939);
    width: 100%;
    height: 200px;
}

footer div {
    padding: 5px;
}

footer #footertop {
    margin-left: 30px;
    font-size: x-small;
}

footer #footertop div {
    display: inline-block;
    margin-left: 15px;
    margin-top: 30px;
    text-decoration: none;
}

footer #footertop div a {
    text-decoration: none;
    color: white;
}

footer #footerbottom {
    margin-left: 30px;
}

footer #footerbottom div {
    display: inline-block;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
    font-size: x-small;
}

footer #footerbottom div img {
    margin-left: 10px;
}

#footerinfo {
    margin-left: 100px;
}

/* 푸터 끝 */